/* Header style */
header .row{
    height: 100px;
}

header img{
    max-height: 95px;
}

i#my-icon-collapse{
    cursor: pointer;
}

nav#my-nav-collapse{
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    display: none;
    position: absolute;
}

.active{
    font-weight: 600;
}

/* Sections Weather */


section#actualWeather{
    height: 370px;
}

@media screen and (min-width:768px) { 
    section#actualWeather,section#search-weather{
        min-height: calc( ( 100vh - 100px ) / 2);
    } 
}

/* Section forecast */

div.forecast-card{
    border: 1px solid black;
    margin-bottom: 1rem;
    background-color: white;
}

div.forecast-card>p{
    font-weight: 600;
}



