/* Header style */
header .row{
    height: 100px;
}

header img{
    max-height: 95px;
}

i#my-icon-collapse{
    cursor: pointer;
}

nav#my-nav-collapse{
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    display: none;
    position: absolute;
}

/* Sections Weather */
.active{
    font-weight: 600;
}

section#actualWeather{
    height: 370px;
}

section#searchWeather{
    height: 370px;
}

@media screen and (min-width:768px) { 
    section#actualWeather, section#searchWeather {
        height: calc( ( 100vh - 100px ) / 2);
    } 
}



